.vvs-station {
  position: relative;
  padding: 0;
  margin-top: 1rem;
  cursor: pointer;
  /* -fail- */
}
.vvs-station h3 {
  font-size: 2.5rem;
}
.vvs-station p {
  padding: 15px;
}
.vvs-station ul {
  display: table;
}
.vvs-station li {
  display: table-row;
}
.vvs-station li > div {
  display: table-cell;
}
.vvs-station .line-symbol {
  min-width: 2em;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}
.vvs-station .line-symbol[data-line^=U] {
  color: white;
  background-color: #2789c4;
}
.vvs-station .line-symbol[data-line^=S] {
  color: white;
  background-color: #288d20;
}
.vvs-station .line-symbol[data-line^=B],
.vvs-station .line-symbol[data-line^=N],
.vvs-station .line-symbol[data-line^=X],
.vvs-station .line-symbol[data-line^=E] {
  color: white;
  background-color: #da0003;
}
.vvs-station .line-symbol[data-line^=R] {
  color: white;
  background-color: #707273;
}
.vvs-station .line-symbol[data-line^=IC],
.vvs-station .line-symbol[data-line^=IR] {
  color: red;
  background-color: white;
  border-color: black;
}
.vvs-station .overall-box {
  position: relative;
}
.vvs-station .time-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: inherit;
  padding-left: 0.5rem;
}
.vvs-station tr td {
  white-space: nowrap;
}
.vvs-station div.direction {
  display: inline-block;
}
.vvs-station div.direction::before {
  content: " ⇨ ";
}
.vvs-station div.departure {
  display: inline-block;
}
.vvs-station div.departure i {
  font-style: normal;
}
.vvs-station div.departure i.time.minutes::after {
  content: "min";
  font-size: 0.8em;
}
.vvs-station div.departure i.hours-minutes .hour::after {
  content: "h ";
  font-size: 0.8em;
}
.vvs-station div.departure i.hours-minutes .minute::after {
  content: "min";
  font-size: 0.8em;
}
.vvs-station div.departure i.time.absolute.hover {
  display: none;
}
.vvs-station tr:hover,
.vvs-station tr:hover td,
.vvs-station tr:hover .time-box {
  background-color: #dff0d8 !important;
}
.vvs-station .time.relative {
  -webkit-animation: fade 0.5s;
  animation: fade 0.5s;
  opacity: 1;
}
.vvs-station.hover .time,
.vvs-station.time-toggle .time,
.vvs-station:hover .time {
  display: none;
}
.vvs-station.hover .time.absolute,
.vvs-station.time-toggle .time.absolute,
.vvs-station:hover .time.absolute {
  display: inline-block !important;
  -webkit-animation: fade 0.5s;
  animation: fade 0.5s;
  opacity: 1;
}
.vvs-station div.delay {
  display: none;
  font-size: 1.8rem;
  vertical-align: text-bottom;
}
.vvs-station div.delay:not([data-delay='']) {
  display: inline-block;
}
.vvs-station div.delay[data-delay="+"]::before {
  content: "+";
}
.vvs-station div.delay[data-delay="-"]::before {
  content: "-";
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spinner-content {
  position: absolute;
  top: 0px;
  right: 0;
  text-align: center;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}
.spinner .double-bounce1,
.spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
